/* ----utils---- */
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background: radial-gradient(circle, rgba(86,69,159,1) 0%, rgba(77,61,142,1) 10%, rgba(0,0,0,1) 100%);
    flex-wrap: wrap;
}
li {
    list-style-type: disclosure-closed;
}
/* ---------------Animations--------------- */
@keyframes borderAnim {
    0% {
        border: solid 2px darkgrey;
        border-top: solid 2px white;
    }
    20% {
        border: solid 2px darkgrey;
        border-right: solid 2px white;
    }
    40% {
        border: solid 2px darkgrey;
        border-bottom: solid 2px white;
    }
    60% {
        border: solid 2px darkgrey;
        border-left: solid 2px white;
    }
    100%{
        border: solid 2px darkgrey;
        border-top: solid 2px white;
    }
}
@keyframes slideTitle {
    from {
        background-position: -10px;
    }
    90% {
        background-position: 250px;
    }
    to {
        background-position: -10px;
    }
}
@keyframes stretchNav {
    0% {
        width: fit-content;
    }
    20% {
        width: 55%;
    }
    50% {
        width: 70%;
    }
    100% {
        width: 85%;
        transform: scale(1.1);
    }
}
@keyframes slideDown {
    from {
        transform: translateY(-150px);
        margin-bottom: -35%;
    }
    to {
        transform: translateY(0px);
        margin-bottom: 4%;
    }
}
